body {
    background-color: black;

}

.container {
    border: solid whitesmoke;
    display: flex;
    flex-direction: column;
    height: 740px;
}


.header {
    color: blanchedalmond;
    border: solid rgb(197, 71, 71);
    display: flex;
    justify-content: center;
    ;
}

.score-container {
    border: solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

.wise {
    display: flex;
    flex-direction: column;
   border: solid red;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 200px;
    border: solid green;
    width: 500px;

}


.content-container {
    color: aquamarine;
    border: solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    height: 350px;
    

}


.hide {
    display: none;
}

.show {
    display: block;
}


.button-container {
    border: solid rgb(133, 92, 92);
    display: flex;
    flex-direction: column;
    height: 140px;
}

.live-score {
    color: azure;
}

.hidden-btn {
    align-self: center;
}


